.advantages {
  position: relative;
  background-color: $light-grey;
  background-repeat: no-repeat;
}

.advantages__header {
  position: relative;
  margin-bottom: 34px;
  padding: 46px 20px 32px;
  background-color: $white;

  &::after {
    content: "";
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 100%;
    height: 32px;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.advantages__lead {
  @include lead-blue;
  margin: 0 38px 38px;
  padding: 0;
  text-align: center;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.advantages__box {
  position: relative;
  padding-bottom: 322px;
}

.advantages__list {
  @include list;
  display: flex;
  flex-direction: column;
  padding: 53px 20px 0;
  text-align: center;
}

.advantages__item {
  margin-bottom: 40px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.advantages__title {
  @include title-black;
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  line-height: 24px;
}

.advantages__text {
  @include text-blue;
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.advantages__phones {
  position: absolute;
  left: calc(50% - 78px);
  bottom: -42px;
}

.advantages__phone {
  width: 157px;
  height: 320px;
  background-repeat: no-repeat;

  &--grey {
    display: none;
  }

  &--pink {
    display: none;
  }

  &--pink-smile {
    background-image: url("../img/iphone-screen-mobile@1x.png");
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .advantages__phone {
    &--pink-smile {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-size: 157px auto;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__header {
    padding: 58px 20px 46px;

    &::after {
      bottom: -52px;
      height: 52px;
    }
  }

  .advantages__lead {
    font-size: 40px;
  }

  .advantages__box {
    padding-bottom: 45px;
  }

  .advantages__list {
    width: calc(50%);
    padding: 46px 20px 0 0;
    margin-left: auto;
    text-align: left;
  }

  .advantages__phones {
    left: 20px;
    bottom: 0;
  }

  .advantages__phone {
    width: 268px;
    height: 483px;

    &--pink-smile {
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .advantages__phone {
      &--pink-smile {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
        background-size: 268px auto;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__header {
    padding: 0;

    &::after {
      bottom: -90px;
      height: 90px;
    }
  }

  .advantages__wrapper {
    @include desktop-wrapper;
    padding: 46px 20px 80px;
  }

  .advantages__lead {
    margin: 0;
    font-size: 50px;
  }

  .advantages__box {
    @include desktop-wrapper;
    padding: 312px 10px 0;
  }

  .advantages__list {
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .advantages__item {
    width: 240px;
    margin-bottom: 0;
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
  }

  .advantages__text {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__phones {
    display: flex;
    justify-content: space-around;
    top: -49px;
    width: 940px;
  }

  .advantages__phone {
    width: 292px;
    height: 302px;

    &--grey {
      display: block;
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
    }

    &--pink {
      display: block;
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
    }

    &--pink-smile {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .advantages__phone {
      background-size: 292px auto;

      &--grey {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }

      &--pink {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }

      &--pink-smile {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }
}
