.application {
  position: relative;
  text-align: center;
}

.application__header {
  position: relative;
  padding: 29px 0 300px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 32px) bottom;
  background-size: auto;
}

.application__download {
  padding: 28px 20px 35px;
  background-color: $blue;
}

.application__bg {
  position: absolute;
  top: -66px;
  width: 100vw;
  height: calc(100% + 66px);
  background-color: $blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: -1;

  &--tablet {
    display: none;
  }
}

.application__slogan {
  @include lead-white;
  margin: 0;
  padding: 0 30px 0;
  line-height: auto;
  text-align: center;
}

.application__button {
  display: block;
  margin: 0 auto 32px;
}

.application__list {
  @include list;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.application__item {
  margin-right: 36px;

  &:last-of-type {
    margin: 0;
  }
}

.application__link {
  display: block;

  &--apple {
    width: 47px;
    height: 56px;
  }

  &--android {
    width: 43px;
    height: 47px;
  }

  &--windows {
    width: 44px;
    height: 41px;
  }

  &:hover {
    color: rgba($blue, 0.5);
  }
}

.application__note {
  @include note-white;
  margin: 0 20px 0;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .application {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 0 110px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-size: auto;
  }

  .application__header {
    margin-left: 20px;
    margin-bottom: 40px;
    padding: 0;
    width: calc(50vw - 30px);
    background: none;
  }

  .application__download {
    margin-left: 20px;
    padding: 0;
    width: calc(50vw - 30px);
    background: none;
  }

  .application__slogan {
    font-size: 40px;
  }

  .application__note {
    font-size: 18px;
  }

  .application__bg {
    &--mobile {
      display: none;
    }

    &--tablet-desktop {
      display: block;
      top: -110px;
      width: 100vw;
      height: calc(100% + 110px);
      background-color: $blue;
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      z-index: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .application {
    padding: 0;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: calc(50% + 77px) bottom;
  }

  .application__wrapper {
    @include desktop-wrapper;
    padding: 120px 10px 110px;
  }

  .application__header {
    width: 300px;
  }

  .application__slogan {
    font-size: 50px;
  }

  .application__download {
    width: 300px;
  }

  .application__button {
    font-size: 21px;
  }

  .application__note {
    margin: 0;
  }

  .application__bg {
    &--tablet-desktop {
      background-image: url("../img/bg-back-desktop@1x.jpg");
    }
  }
}
