.application {
  position: relative;
  text-align: center;
}

.application__header {
  position: relative;
  padding: 20px 0 314px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 32px) bottom;
  background-size: auto;
}

.application__download {
  padding: 28px 20px 29px;
  background-color: $blue;
}

.application__bg {
  position: absolute;
  top: -66px;
  width: 100%;
  height: calc(100% + 66px);
  background-color: $blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: -1;

  &--tablet-desktop {
    display: none;
  }
}

.application__slogan {
  @include lead-white;
  margin: 0;
  padding: 0 30px 0;
  text-align: center;
  line-height: 31px;
}

.application__button {
  display: block;
  margin: 0 auto 32px;
}

.application__list {
  @include list;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 24px;
}

.application__item {
  margin-right: 35px;

  &:last-of-type {
    margin: 0;
  }
}

.application__link {
  display: block;

  &--apple {
    width: 47px;
    height: 56px;
  }

  &--android {
    width: 43px;
    height: 47px;
  }

  &--windows {
    width: 44px;
    height: 41px;
  }

  &:hover {
    color: rgba($blue, 0.5);
  }
}

.application__note {
  @include note-white;
  margin: 0 20px 0;
  line-height: 24px;
  text-align: center;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .application__bg {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  .application__header {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 257px auto;
  }
}

@media (min-width: $tablet-width) {
  .application {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 93px 0 110px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-size: auto;
  }

  .application__header {
    margin-left: 20px;
    margin-bottom: 31px;
    padding: 0;
    width: calc(50vw - 30px);
    background: none;
  }

  .application__button {
    margin: 0 auto 46px;
  }

  .application__download {
    margin-left: 20px;
    padding: 0;
    width: calc(50vw - 30px);
    background: none;
  }

  .application__slogan {
    font-size: 40px;
    line-height: 48px;
  }

  .application__list {
    margin-bottom: 37px;
  }

  .application__note {
    font-size: 18px;
    margin: 0;
  }

  .application__bg {
    &--mobile {
      display: none;
    }

    &--tablet-desktop {
      display: block;
      top: -110px;
      width: 100%;
      height: calc(100% + 110px);
      background-color: $blue;
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      z-index: -1;
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .application__bg {
      &--tablet-desktop {
        background-image: url("../img/bg-back-tablet@2x.jpg");
      }
    }

    .application {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 701px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .application {
    padding: 0;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: calc(50% + 71px) bottom;
  }

  .application__wrapper {
    @include desktop-wrapper;
    padding: 108px 10px 122px;
  }

  .application__header {
    width: 300px;
    margin-left: 0;
    margin-bottom: 52px;
  }

  .application__slogan {
    font-size: 50px;
    line-height: 60px;
  }

  .application__download {
    width: 300px;
    margin-left: 0;
  }

  .application__button {
    font-size: 21px;
    margin: 0 auto 66px;
  }

  .application__list {
    margin-bottom: 57px;
  }

  .application__note {
    margin: 0;
  }

  .application__bg {
    &--tablet-desktop {
      background-image: url("../img/bg-back-desktop@1x.jpg");
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .application__bg {
      &--tablet-desktop {
        background-image: url("../img/bg-back-desktop@2x.jpg");
      }
    }

    .application {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }
}
