.button {
  padding: 15px 37px;
  line-height: 18px;
  border-width: 3px;
  border-style: solid;
  border-radius: 27px;
  background: none;

  &--white {
    @include title-white;
    border-color: $white;
  }

  &--pink {
    @include title-pink;
    border-color: $pink;
  }

  &--disabled {
    font-family: "Open Sans Bold", "Helvetica", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: rgba($blue, 0.1);
  }

  &--form {
    @include title-white;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 3px;
    border-color: #2aab6d;
    background-color: #2aab6d;
  }
}
