.contacts {
  position: relative;
  text-align: center;
}

.contacts__wrapper {
  position: relative;
  padding: 48px 35px 20px;
  background-color: $white;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 32px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.contacts__lead {
  @include lead-blue;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
}

.contacts__list {
  @include list;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.contacts__item {
  margin-bottom: 28px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.contacts__title {
  @include title-blue;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.contacts__text {
  @include contact-pink;
  margin: 0;
  padding: 0;
}

.contacts__map {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 63vw;
  z-index: -1;
}

.contacts__google-map {
  &--tablet,
  &--desktop {
    display: none;
  }
}

.contacts__map-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -2;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    &::after {
      bottom: -68px;
      height: 68px;
    }
  }

  .contacts__list {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 240px;
  }

  .contacts__map {
    height: 57vw;
  }

  .contacts__google-map {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  .contacts__map-image {
    bottom: -127px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__lead {
    width: 940px;
    margin: 0 auto 72px;
    font-size: 50px;
  }

  .contacts__wrapper {
    padding: 75px 0 26px;

    &::after {
      bottom: -100px;
      height: 100px;
    }
  }

  .contacts__list {
    width: 940px;
    margin: 0 auto;
  }

  .contacts__item {
    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 2;
    }
  }

  .contacts__map {
    height: 52vw;
  }

  .contacts__google-map {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .contacts__map-image {
    bottom: -197px;
  }
}
