.contest-form {
  display: flex;
  flex-direction: column;
}

.contest-form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 40px 20px 23px;
  border: none;

  &--name,
  &--contacts,
  &--emotions {
    background-color: $white;
  }

  &--achievement,
  &--os {
    background-color: $light-grey;
  }
}

.contest-form__fieldset-wrapper {
  display: flex;
  flex-direction: column;
}

.contest-form__legend {
  @include text-pink;
  position: relative;
  top: 54px;
  margin: 0 15px 38px;
  padding: 0;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  &--contacts {
    display: none;
  }
}

.contest-form__field {
  &--name {
    display: flex;
    flex-direction: column;
  }

  &--contacts {
    display: flex;
    flex-direction: column;
  }
}

.contest-form__label {
  @include text-pink;
  position: relative;
  margin-left: 23px;
  margin-bottom: 7px;
  line-height: 30px;
  text-transform: uppercase;

  &--checkbox {
    @include form-text-blue;
    line-height: 30px;
    text-transform: none;
    margin-left: 70px;
    margin-bottom: 53px;

    &:last-child {
      margin-bottom: 22px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      left: -70px;
      width: 39px;
      height: 39px;
      border: 2px solid #e5e5e5;
      border-radius: 3px;
      background-color: $white;
      box-shadow: none;
    }
  }

  &--radio {
    @include form-text-blue;
    line-height: 30px;
    text-transform: none;
    margin-left: 70px;
    margin-bottom: 53px;

    &:last-child {
      margin-bottom: 22px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      left: -70px;
      width: 39px;
      height: 39px;
      border: 2px solid #e5e5e5;
      border-radius: 50%;
      background-color: $white;
      box-shadow: none;
    }
  }
}

.contest-form__label:hover::before {
  border-color: $blue;
}

.contest-form__label:active::before {
  border-color: $pink;
}

.contest-form__checkbox:checked + .contest-form__label--checkbox::before {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: 7px 9px;
  background-size: 22px 16px;
}

.contest-form__radio:checked + .contest-form__label--radio::before {
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-size: 35px 35px;
}

.contest-form__input {
  @include form-text-blue;
  width: 100%;
  margin-bottom: 19px;
  padding: 14px 20px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;

  &:hover {
    border-color: $blue;
  }

  &:focus,
  &:active {
    border-color: $pink;
    box-shadow: none;
    outline: none;
  }
}

.contest-form__button {
  margin: 0 20px 41px;
}

.contest-form__small {
  @include text-blue;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  &--pink {
    color: $pink;
  }
}

@media (min-width: $tablet-width) {
  .contest-form {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px 0;
  }

  .contest-form__fieldset {
    border: 2px solid #e5e5e5;
    width: 100%;
    margin-bottom: 60px;
    background: $white;

    &--name {
      order: -2;
      border: 0;
      padding-bottom: 0;
    }

    &--os {
      order: -2;
    }

    &--contacts {
      order: -1;
    }
  }

  .contest-form__legend {
    position: static;
    margin: 0;
    padding: 0 10px 0;

    &--contacts {
      display: inline;
    }
  }

  .contest-form__field {
    &--name {
      flex-direction: row;
      align-items: center;
      margin-bottom: 52px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--contacts {
      flex-direction: column-reverse;
    }
  }

  .contest-form__label {
    &--name {
      margin-left: 0;
    }
  }

  .contest-form__input {
    &--name {
      margin-bottom: 0;
      margin-left: 20px;
    }
  }

  .contest-form__button {
    width: 300px;
    margin: 0;
  }

  .contest-form__small {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .contest-form {
    justify-content: space-between;
    padding: 50px 10px 0;
  }

  .contest-form__fieldset {
    &--name {
      align-self: flex-end;
      width: 435px;
    }

    &--os {
      align-self: flex-end;
      width: 435px;
      padding-left: 74px;
    }
  }

  .contest-form__fieldset-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .contest-form__label {
    &--checkbox {
      width: 200px;

      &:nth-of-type(2n-1) {
        order: -1;
      }
    }
  }

  .contest-form__field {
    &--contacts {
      width: 374px;
    }
  }
}
