.contest {
  padding: 45px 0 13px;
  background-color: $white;
}

.contest__text {
  @include text-blue;
  margin: 0 20px 0;
  line-height: 30px;
  text-align: center;

  &--add {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .contest {
    padding: 92px 0 51px;
  }

  .contest__text {
    font-size: 18px;
    margin: 0 50px 0;

    &--add {
      display: inline;
      margin: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .contest {
    @include desktop-wrapper;
    padding: 92px 0 0;
  }

  .contest__text {
    margin: 0 90px 0;

    &--add {
      margin: 0;
    }
  }
}
