.copyright {
  text-align: center;
}

.copyright__text {
  @include text-blue;
  margin-right: 12px;
  line-height: 18px;
}

.copyright__link {
  vertical-align: middle;
}

.copyright__image {
  fill: $pink;
}

.copyright__link:hover .copyright__image {
  fill: $blue;
}

.copyright__link:active .copyright__image {
  opacity: 0.3;
}

@media (min-width: $desktop-width) {
  .copyright__text {
    font-size: 18px;
    margin-right: 10px;
  }
}
