.copyright {
  text-align: center;
}

.copyright__text {
  @include text-blue;
  margin-right: 12px;
  line-height: 18px;
}

.copyright__link {
  vertical-align: middle;
  font-size: 0;
}

.copyright__image {
  fill: $pink;
}
