.effect {
  display: none;
}

.effect__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 59px 20px 56px;
}

.effect__timer {
  position: relative;
  width: 238px;
  height: 276px;
  background-image: url("../img/icon-timer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.effect__numeral {
  position: absolute;
  top: 55px;
  left: 19px;
  display: inline-block;
  width: 202px;
  height: 202px;
  font-family: "Open Sans Bold", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 165px;
  color: $pink;
  border: 13px solid $pink;
  border-radius: 50%;
}

.effect__info {
  width: 50%;
  padding: 38px 0 0 0;
}

.effect__title {
  @include title-black;
  display: inline-block;
  margin-bottom: 9px;
  font-size: 30px;
  line-height: 36px;
}

.effect__text {
  @include text-blue;
  margin: 0 2px 11px 0;
  line-height: 24px;
}

.effect__link {
  @include text-pink;
  line-height: 24px;
  text-decoration-line: underline;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
  }

  .effect__br {
    &--desktop {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .effect {
    background-color: $light-grey;
    padding: 0;
  }

  .effect__wrapper {
    @include desktop-wrapper;
    padding: 66px 10px 67px;
  }

  .effect__timer {
    width: 298px;
    height: 345px;
  }

  .effect__numeral {
    top: 69px;
    left: 22px;
    width: 253px;
    height: 253px;
    font-size: 120px;
    line-height: 205px;
    border: 16px solid $pink;
  }

  .effect__info {
    padding: 94px 40px 0 0;
    width: 574px;
  }

  .effect__title {
    margin-bottom: 24px;
    line-height: 30px;
  }

  .effect__title br {
    display: none;
  }

  .effect__br {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: inline;
    }
  }

  .effect__text {
    margin-bottom: 31px;
    font-size: 18px;
    line-height: 30px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}
