.gallery__header {
  position: relative;
  padding: 32px 0 85px;
}

.gallery__bg {
  position: absolute;
  top: -66px;
  width: 100%;
  height: calc(100% + 66px);
  background-color: $blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 462px;
  z-index: -1;
}

.gallery__title {
  @include lead-white;
  margin: 0;
  padding: 0 30px 0;
  text-align: center;
}

.gallery__note {
  @include text-blue;
  display: inline-block;
  margin: 45px 38px 49px;
  line-height: 30px;
  text-align: center;
}

.gallery__list {
  @include list;
  display: flex;
  flex-direction: column;
  margin: 0 20px 0;
  padding: 0;
}

.gallery__item {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.gallery__picture {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;

  &--panorama {
    margin: 0;
    width: 100%;
    height: auto;
  }
}

.gallery__image {
  width: 100%;
}

.gallery__tag {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 6px 20px;
  font-family: "Open Sans Bold", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: $white;
  line-height: 24px;
  text-transform: uppercase;
  background-color: $pink;
}

.gallery__description {
  display: flex;
  flex-direction: column;
  margin: -4px 0 0 0;
  padding: 18px 12px 20px 17px;
  background-color: $light-grey;

  &--panorama {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.gallery__author-name {
  margin: 0;
  margin-bottom: -1px;
  padding: 0;
  font-family: "Open Sans Bold", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: $blue;
  line-height: 24px;
  font-style: normal;
}

.gallery__time {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: $blue;
  line-height: 24px;
  text-transform: uppercase;
}

.gallery__text {
  @include text-blue;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  line-height: 24px;
}

.gallery__like {
  position: relative;
  margin: 0 0 0 32px;
  padding: 0;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: $pink;
  line-height: 24px;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 12px;
    top: 6px;
    left: -31px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .gallery__bg {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .gallery__header {
    padding: 74px 0 143px;
  }

  .gallery__title {
    font-size: 50px;
  }

  .gallery__bg {
    top: -110px;
    height: calc(100% + 110px);
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: auto 727px;
  }

  .gallery__note {
    font-size: 18px;
    margin: 91px 50px 76px;
  }

  .gallery__tag {
    top: 57px;
  }

  .gallery__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 620px;
    margin: 0 auto;
  }

  .gallery__item {
    width: 300px;
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-bottom: 20px;
    }

    &--panorama {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  .gallery__image {
    &--panorama {
      height: 510px;
      object-fit: cover;
    }
  }

  .gallery__description {
    flex-grow: 1;
    min-height: 155px;
    padding: 24px 12px 22px 27px;

    &--panorama {
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      min-height: 120px;
      padding: 23px 12px 15px 27px;
    }
  }

  .gallery__text {
    &--panorama {
      order: 3;
    }
  }

  .gallery__like {
    margin: auto 0 0 0;

    &::after {
      top: 5px;
      left: 228px;
    }

    &--panorama {
      order: 2;
      margin-left: auto;
      margin-right: 47px;

      &::after {
        left: 106px;
      }
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .gallery__bg {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .gallery__header {
    padding: 67px 0 104px;
  }

  .gallery__bg {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: auto 852px;
  }

  .gallery__wrapper {
    @include desktop-wrapper;
  }

  .gallery__note {
    margin: 91px 160px 88px;
  }

  .gallery__list {
    width: 940px;
    margin: 0 auto;
  }

  .gallery__item {
    margin-bottom: 54px;

    &--panorama {
      width: 100%;
      margin-bottom: 48px;
    }

    &:last-child {
      margin-bottom: 54px;
    }
  }

  .gallery__image {
    &--panorama {
      height: 506px;
    }
  }

  .gallery__description {
    &--panorama {
      width: 940px;
      margin-left: auto;
      margin-right: auto;
      min-height: 93px;
    }
  }

  .gallery__tag {
    top: 54px;
    right: calc(50% - 470px);
  }

  .gallery__like {
    &--panorama {
      margin: 2px 50px 0 auto;
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .gallery__bg {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}
