.logo {
  display: block;
}

@media (min-width: $tablet-width) {
  .logo {
    &--header {
      width: 147px;
      height: 40px;
    }
  }

  .logo__image {
    width: 147px;
    height: 40px;
  }
}
