.main-nav__button-open {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background: none;
  cursor: pointer;
}

.main-nav__button-close {
  position: absolute;
  top: 8px;
  right: 6px;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background: none;
}

.main-nav__button-open svg,
.main-nav__button-close svg {
  fill: $white;
}

.main-nav__button-open:hover svg,
.main-nav__button-close:hover svg {
  fill: $pink;
}

.main-nav__button-open:active svg,
.main-nav__button-close:active svg {
  fill: rgba($pink, 0.3);
}

.main-nav__list {
  @include list;
}

.main-nav__item {
  text-align: center;
  border-top: 1px solid #000001;
  box-shadow: inset 0 1px 0 0 rgba($white, 0.15);

  &:last-of-type {
    border-bottom: 1px solid #000001;
  }
}

.main-nav__link {
  @include title-white;
  display: block;
  margin: 0 auto;
  padding: 16px 16px 15px;
  line-height: 32px;
  text-transform: uppercase;

  &[href]:hover {
    color: $pink;
    font-weight: 700;
  }

  &[href]:active {
    color: rgba($pink, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .main-nav__button-open {
    top: 33px;
  }

  .main-nav__button-close {
    top: 32px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-left: auto;
  }

  .main-nav__button-open {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 11px;
  }

  .main-nav__item {
    border: none;
    box-shadow: none;

    &:not(:first-child) {
      margin-left: 80px;
    }
  }

  .main-nav__link {
    padding: 6px 0 12px;
    font-family: "Open Sans", "Helvetica", sans-serif;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;

    &--current {
      border-bottom: 2px solid $white;
    }

    &[href]:active {
      color: rgba($white, 0.3);
    }
  }
}
