.page-title {
  position: relative;
  padding: 30px 0 54px;
}

.page-title__text {
  @include lead-white;
  margin: 0 30px 0;
  text-align: center;
  line-height: 29px;
}

.page-title__bg {
  position: absolute;
  top: -66px;
  width: 100%;
  height: calc(100% + 66px);
  background-color: $blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 462px;
  z-index: -1;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .page-title__bg {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .page-title {
    padding: 71px 0 79px;
  }

  .page-title__text {
    font-size: 50px;
    line-height: 60px;
  }

  .page-title__bg {
    top: -110px;
    height: calc(100% + 110px);
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: auto 727px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .page-title__bg {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    padding: 64px 0 99px;
  }

  .page-title__wrapper {
    @include desktop-wrapper;
  }

  .page__bg {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: auto 852px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .page-title__bg {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}
