.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 284px;
  padding: 40px 20px;
  background-color: $white;

  &--index {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    min-height: 127px;
    padding: 36px 20px 37px;

    &--index {
      display: flex;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 960px;
    margin: 0 auto;
    min-height: 197px;
    padding: 70px 10px 72px;
  }
}
