.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  background-color: $white;
}

.page-footer__logo {
  margin-bottom: 40px;
}

.page-footer__social {
  margin-bottom: 40px;
}
