.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 284px;
  padding: 42px 20px 34px;
  background-color: $white;

  &--index {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    min-height: 127px;
    padding: 20px 20px 37px;

    &--index {
      display: flex;
    }
  }

  .page-footer__social {
    margin-top: 15px;
  }

  .page-footer__copyright {
    margin-top: 21px;
    margin-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 960px;
    margin: 0 auto;
    min-height: 197px;
    padding: 56px 10px 72px;
  }

  .page-footer__copyright {
    margin-top: 26px;
    margin-left: -6px;
  }
}
