.page-header {
  min-height: 66px;
  padding-top: 22px;
  background-color: $blue;

  &--menu-close {
    background-color: rgba($black, 0.3);
  }
}

.page-header__logo {
  margin-left: 20px;
  margin-bottom: 25px;
}
