.page-title {
  padding: 36px 30px 53px;
  background-color: $blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-y: -66px;
  background-size: cover;
}

.page-title__text {
  margin: 0;
  @include lead-white;
  text-align: center;
}
