.page-title {
  @include lead-white;

  display: inline-block;
  margin: 0;
  padding: 36px 30px 53px;
  text-align: center;
  background-color: $blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-y: -66px;
  background-size: cover;
}
