.price {
  overflow-x: hidden;
  // height: 470px;
  padding: 91px 0 47px;
  background-color: $light-grey;
}

.price__table {
  position: relative;
  left: calc(50vw - 417px);
  width: 834px;
  margin: 0 auto 40px;
  border-collapse: collapse;
}

.price__tariff-name {
  @include title-white;
  position: relative;
  padding: 16px 15px 18px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: $blue;
  border-left: 2px solid $light-grey;
  border-right: 2px solid $light-grey;

  &:first-child {
    display: none;
  }
}

.price__hit {
  @include note-white;
  position: absolute;
  top: 6px;
  left: 1px;
  width: 73px;
  height: 73px;
  transform: rotate(-45deg);

  &::after {
    content: "";
    position: absolute;
    top: -7px;
    left: 2px;
    width: 73px;
    height: 73px;
    background-image: url("../img/bg-hit.svg");
    transform: rotate(45deg);
    z-index: -1;
  }
}

.price__cost {
  @include lead-white;
  display: inline-block;
  margin-top: 2px;
  line-height: 30px;
  text-transform: uppercase;
}

.price__tariff-content {
  @include text-blue;
  padding: 15px 22px 14px;
  line-height: 30px;
  text-transform: uppercase;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  background-color: $white;

  &:first-child {
    display: none;
  }

  &--on {
    background-image: url("../img/icon-yes-green.svg");
    background-repeat: no-repeat;
    background-position: 94% center;
  }

  &--off {
    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: 93% 47%;
  }
}

.price__toggles {
  display: flex;
}

@media (min-width: $tablet-width) {
  .price {
    padding: 87px 0 29px;
  }

  .price__table {
    position: static;
    width: 93.9%;
  }

  .price__tariff-name {
    width: 25%;
    padding: 17px 15px 10px;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid #e5e5e5;

    &:first-child {
      display: table-cell;
      background-color: transparent;
      border: none;
    }
  }

  .price__hit {
    top: 1px;
    left: 0;
    width: 61px;
    height: 61px;
    line-height: 27px;


    &::after {
      top: -1px;
      left: 0;
      width: 61px;
      height: 61px;
      background-image: url("../img/bg-hit-tablet.svg");
    }
  }

  .price__cost {
    font-size: 18px;
  }

  .price__tariff-content {
    padding: 7px 16px;
    text-transform: none;
    border: 2px solid #e5e5e5;

    &:first-child {
      display: table-cell;
    }

    &:not(:first-child) {
      font-size: 0;
    }

    &--on,
    &--off {
      background-position: center center;
    }
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding: 146px 0 57px;
  }

  .price__table {
    width: 940px;
  }

  .price__tariff-name {
    padding: 22px 15px 14px;
    font-size: 18px;
    line-height: 19px;
  }

  .price__hit {
    line-height: 43px;

    &::after {
      top: 2px;
      left: -6px;
      width: 73px;
      height: 73px;
      background-image: url("../img/bg-hit.svg");
    }
  }

  .price__cost {
    font-size: 24px;
    line-height: 40px;
  }

  .price__tariff-content {
    font-size: 18px;
    padding: 14px 21px;
  }
}
