.price {
  overflow-x: hidden;
  // height: 470px;
  padding: 90px 0 47px;
  background-color: $light-grey;
}

.price__table {
  &--mobile {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    transform: translateX(calc(-416px + 50vw));
  }

  &--tablet-desktop {
    display: none;
    margin: 0 auto;
    border-collapse: collapse;
  }
}

.price__tariff {
  flex-basis: 278px;
  flex-shrink: 0;
  border-collapse: collapse;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.price__tariff-name {
  @include title-white;
  padding: 14px 15px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: $blue;
}

.price__cost {
  @include lead-white;
  margin-top: 10px;
  line-height: 30px;
  text-transform: uppercase;
}

.price__tariff-content {
  @include text-blue;
  padding: 15px 22px;
  line-height: 30px;
  text-transform: uppercase;
  border-bottom: 2px solid #e5e5e5;
  background-color: $white;
}

@media (min-width: $tablet-width) {
  .price {
    padding: 90px 20px 68px;
  }

  .price__table {
    &--mobile {
      display: none;
    }

    &--tablet-desktop {
      display: table;
      width: 620px;
    }
  }

  .price__tariff-name {
    width: 25%;
    font-size: 16px;
    border: 2px solid #e5e5e5;
  }

  .price__cost {
    font-size: 18px;
  }

  .price__tariff-content {
    padding: 7px 16px;
    text-transform: none;
    border: 2px solid #e5e5e5;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .price {
    padding: 107px 0 95px;
  }

  .price__table {
    &--tablet-desktop {
      width: 940px;
    }
  }

  .price__tariff-name {
    font-size: 18px;
  }

  .price__cost {
    font-size: 24px;
  }

  .price__tariff-content {
    font-size: 18px;
  }
}
