.reviews {
  position: relative;
  padding: 42px 20px 42px;
  background-color: $white;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 100%;
    height: 24px;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.reviews__author-name {
  @include title-black;
  display: inline-block;
  margin-bottom: 14px;
  font-style: normal;
  line-height: 30px;
}

.reviews__author-name span {
  display: block;
}

.reviews__author-info {
  @include text-blue;
  display: none;
  line-height: 30px;
}

.reviews__text {
  @include text-blue;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  line-height: 30px;
}

.reviews__arrow {
  display: none;
}

.reviews__toggles {
  display: flex;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding: 42px 20px 20px;

    &::after {
      bottom: -52px;
      height: 52px;
    }
  }

  .reviews__list {
    margin-bottom: 20px;
  }

  .reviews__author-name {
    font-size: 20px;
    order: 2;
  }

  .reviews__author-info {
    display: inline;
  }

  .reviews__text {
    order: 1;
    margin-bottom: 35px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding: 0;

    &::before {
      content: "";
      position: absolute;
      top: 72px;
      left: calc(50% - 36px);
      width: 79px;
      height: 63px;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::after {
      bottom: -80px;
      height: 80px;
    }
  }

  .reviews__wrapper {
    @include desktop-wrapper;
    position: relative;
    padding: 185px 10px 28px;
  }

  .reviews__list {
    width: 700px;
    margin: 0 auto;
  }

  .reviews__arrow {
    content: "";
    position: absolute;
    display: block;
    width: 22px;
    height: 41px;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    background: none;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    opacity: 0.3;

    &--left {
      top: 213px;
      left: 10px;
      background-image: url("../img/icon-review-arrow-left.svg");
    }

    &--right {
      top: 213px;
      right: 10px;
      background-image: url("../img/icon-review-arrow-right.svg");
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-info {
    font-size: 18px;
  }

  .reviews__toggles {
    display: none;
  }
}
